

<div class="box">
        <div class="box box-info">

            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                    <th>Reference</th>
                    <th>Branch Code</th>
                    <th>Employee Code</th>
                    <th>ID Number</th>
                    <th>Surname</th>
                    <th>firstnames</th>

                </tr>


                        <tr>
                          <!-- TODO -- Create a form and handle it dynamically -->
                          <td>{{ vstrReference }}</td>
                          <td>{{ vstrBranchCode }}</td>
                          <td>{{ vstrEmployeeCode }}</td>
                          <td>{{ vstrIDNumber }}</td>
                          <td>{{ vstrSurname }}</td>
                          <td>{{ vstrFirstnames }}</td>


                        </tr>

              </table>
            </div>

        </div>
 </div>
        <div id="RightsResponse">
            click user to load user rights
        </div>
