

<div class="box box-info">
    <label class="label label-success">Rights Successfully Saved</label>
</div>


            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                    <th>Employee</th>
                    <th>Employee Admin</th>
                    <th>Search Loans</th>
                    <th>Edit Loans</th>
                    <th>Search Leads</th>
                    <th>Edit Leads</th>
                </tr>
                        <tr>
                          <!-- TODO -- Create a form and handle it dynamically -->
                            <td>{{ vstrIsEmployee }}</td>
                            <td>{{ vstrAccessEmployeeAdmin }}</td>
                            <td>{{ vstrSearchCoverPolicy }}</td>
                            <td>{{ vstrEditCoverPolicy }}</td>
                            <td>{{ vstrSearchLeadsForm }}</td>
                            <td>{{ vstrEditLeadsForm }}</td>
                        </tr>
              </table>
            </div>











