<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Design by</b> <a href="http://blueitmarketing.com">Blue IT Marketing</a> | <small>Tel : +2715-962-0369 Cell: +2779-0471-559 Email: info@blueitmarketing.com </small>
    </div>
    <strong>Copyright &copy; 2012-2017 <a href="http://SA Loans.co.za">SA Loans</a>.</strong> All rights
    reserved.
</footer>
<footer class="main-footer">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- justice_ndou -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7790567144101692"
     data-ad-slot="9302133360"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</footer>